services:
  postgres:
    image: postgres:18-alpine
    container_name: 3wc-db-dev

    env_file: [.env.dev]
    environment:
      PGDATA: /var/lib/postgresql/18/data

    ports:
      - '5432:5432'

    volumes:
      - pgdata-dev:/var/lib/postgresql/18/data

    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U threewc -d threewc_dev']
      start_period: 30s
      start_interval: 2s
      interval: 30s
      timeout: 3s
      retries: 20

  api-dev:
    build:
      context: .
      dockerfile: Dockerfile.dev
    image: 3wc-api:dev
    container_name: 3wc-api-dev
    working_dir: /app

    env_file: [.env.dev]
    environment:
      NODE_ENV: development
      DOTENV_CONFIG_QUIET: 'true'
      PNPM_HOME: /root/.local/share/pnpm
      PNPM_STORE_DIR: /pnpm-store
      CHOKIDAR_USEPOLLING: 'true'
      CHOKIDAR_INTERVAL: '1000'

    ports:
      - '4000:4000'

    volumes:
      - .:/app
      - api-node-modules:/app/node_modules
      - pnpm-store:/pnpm-store

    depends_on:
      postgres:
        condition: service_healthy

volumes:
  pgdata-dev:
  pnpm-store:
  api-node-modules:
